body {
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}
h1.h1-title {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 3em;
  color: #c0720d;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
h1.h1-title:hover {
  color: #ff5722;
}

section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
select,
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="text"]:focus,
select:focus,
input[type="number"]:focus {
  outline: blue solid 2px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(189, 62, 62);
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: lightcoral;
}

nav {
  height: 90px;
  background: #f3efec;
  display: flex;
  /* position: sticky; */
  border-bottom: solid 3px red;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 8px 12px;
  /* background: radial-gradient(white,transparent,transparent); */
  background-color: #ffffff8a;
  border-radius: 12px;
  transition-duration: 500ms;
}

nav a:hover {
  background-color: #ffffff;
  padding: 18px 28px;
}

table {
  margin-top: 20px;
  background-color: #ffffff;
}

tbody:nth-child(2n) {
  background-color: #e5f1e6;
}

table,
th,
td {
  border: 1px solid #45a049;
  border-collapse: collapse;
  padding: 5px 10px;
}

#toTopBtn {
  text-decoration: none;
  position: sticky;
  left: 95vw;
  bottom: 20px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  font-size: 2rem;
}

@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
  }
  nav {
    flex-wrap: wrap;
    height: fit-content;
    gap: 10px;
  }
}
